/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(244, 242, 238); /* ✅ Added background color */
  min-height: 100vh; /* ensures full height */
}

.badge.bg-success {
  background-color: #29bc28 !important;
  color: #fff !important;
}



